@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  width: 100%;
  line-height: 1.2; }

ul, ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

p {
  margin: 0px; }

.grid-container {
  display: grid;
  grid-template-areas: "header"  "nav"  "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto; }

.header {
  grid-area: header;
  background-color: #fff;
  display: flex;
  flex-direction: row; }
  .header .header__logo {
    height: 80px;
    padding: 5px; }
    .header .header__logo img {
      height: 100%; }
  .header .header__icons-action {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end; }
    .header .header__icons-action input {
      display: none;
      padding: 5px 10px;
      margin-right: 20px; }
    .header .header__icons-action .icon {
      height: 24px;
      margin-right: 20px;
      cursor: pointer; }

.navbar {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .navbar .navbar__lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .navbar .navbar__lista li {
      display: block;
      width: 100%; }
      .navbar .navbar__lista li a {
        display: block;
        width: 100%;
        padding: 15px;
        background-color: #4e236e;
        color: #fff; }
      .navbar .navbar__lista li:hover a, .navbar .navbar__lista li a.active {
        background-color: #8a2fac; }

.main {
  grid-area: main;
  display: flex; }
  .main .principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    /* Principal - Sucursales -> conocenos */
    /* Principal - Sucursales -> tabla sucursales*/ }
    .main .principal hr {
      border: 1px solid #eee;
      margin: 0px; }
    .main .principal .principal__title {
      font-size: 1.5rem;
      padding: 15px;
      text-align: left;
      margin: 0px;
      font-weight: bold; }
    .main .principal .principal__iframe {
      width: 100%;
      max-width: 533px;
      height: 300px;
      margin-bottom: 20px;
      align-self: center; }
    .main .principal .principal__section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 20px;
      gap: 10px;
      padding: 20px; }
      .main .principal .principal__section .principal__section-title {
        width: 100%;
        font-size: 1.1rem;
        font-weight: bold;
        color: crimson;
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 3; }
      .main .principal .principal__section .principal__section-article {
        width: 100%;
        max-width: 250px;
        text-align: center;
        padding: 10px;
        border: thin solid #d6d6d6;
        border-radius: 10px; }
        .main .principal .principal__section .principal__section-article .article_img {
          padding: 10px;
          width: 100%; }
        .main .principal .principal__section .principal__section-article .article_img img {
          width: 100%; }
        .main .principal .principal__section .principal__section-article span {
          display: block;
          width: 100%;
          font-size: 0.85rem;
          text-align: center; }
        .main .principal .principal__section .principal__section-article .article_action_buy {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          margin-top: 10px; }
          .main .principal .principal__section .principal__section-article .article_action_buy span {
            font-family: 'Ubuntu', sans-serif;
            display: inline-block;
            width: auto;
            font-size: 1.125rem;
            font-weight: 700;
            color: #ed1d24 !important; }
          .main .principal .principal__section .principal__section-article .article_action_buy button {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 8px;
            cursor: pointer;
            border-radius: 0.25rem;
            font-size: .9rem; }
            .main .principal .principal__section .principal__section-article .article_action_buy button:hover {
              background-color: #0069d9; }
            .main .principal .principal__section .principal__section-article .article_action_buy button img {
              width: 20px; }
    .main .principal .principal__conocenos {
      text-align: left;
      padding: 0px 15px 15px; }
      .main .principal .principal__conocenos .principal__conocenos-title {
        text-align: left;
        padding: 15px 0px;
        font-weight: bold;
        font-size: 16px; }
    .main .principal .principal__table-sucursales {
      width: 100%;
      max-width: 600px;
      margin: 0px auto;
      background-color: #daeaee; }
      .main .principal .principal__table-sucursales th {
        text-align: center;
        padding: 7px 5px; }
      .main .principal .principal__table-sucursales td {
        padding: 7px 5px;
        font-size: .9rem; }
      .main .principal .principal__table-sucursales .principal__table-bg_title {
        background-color: #1f6372;
        color: #fff;
        letter-spacing: 2px; }
      .main .principal .principal__table-sucursales .principal__table-bg_subtitle {
        background-color: #c3e3eb; }
      .main .principal .principal__table-sucursales tbody tr:hover {
        background-color: #c2d9df; }

/* Principal - Formulario */
.principal__form {
  width: 100%;
  max-width: 550px;
  margin: 0px auto; }
  .principal__form .principal__fieldset {
    border: thin solid #dadada;
    text-align: center;
    font-size: 16px;
    padding: 20px; }
    .principal__form .principal__fieldset label {
      display: block;
      width: 100%;
      padding: 10px 0px;
      font-size: 16px;
      text-align: left; }
    .principal__form .principal__fieldset input:not([type='submit']), .principal__form .principal__fieldset textarea {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 13px;
      border: thin solid #3f1a5c;
      border-radius: 4px;
      margin-bottom: 20px; }
    .principal__form .principal__fieldset textarea {
      resize: vertical; }
    .principal__form .principal__fieldset input[type='submit'] {
      margin-top: 15px;
      padding: 10px 5px;
      width: 100%;
      background-color: #4e236e;
      color: #fff;
      border: thin solid #3f1a5c;
      cursor: pointer; }
    .principal__form .principal__fieldset a {
      display: inline-block;
      font-size: 13px;
      margin: 20px 10px 0px 10px;
      color: #1f6372; }
    .principal__form .principal__fieldset a:hover {
      color: #5095a5;
      text-decoration: underline; }

/*  Footer */
.footer {
  grid-area: footer;
  background: #4e236e;
  padding: 15px 10px; }
  .footer .footer__nav {
    text-align: center; }
    .footer .footer__nav li {
      display: inline-block;
      font-size: 12px; }
      .footer .footer__nav li:hover a {
        color: #eee;
        text-decoration: underline; }
      .footer .footer__nav li a {
        padding: 5px 10px;
        border-left: thin solid #ccc;
        color: #fff; }
      .footer .footer__nav li:nth-of-type(1) a {
        border-left: none; }

/* ocultamos el aside en el modo mobile */
.principal_aside {
  display: none; }

/* Los articles del aside*/
.principal_aside .principal_aside__section .principal_aside__section-article {
  width: 100%;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  border: thin solid #d6d6d6;
  border-radius: 10px; }
  .principal_aside .principal_aside__section .principal_aside__section-article .article_img {
    padding: 10px;
    width: 100%; }
  .principal_aside .principal_aside__section .principal_aside__section-article .article_img img {
    width: 100%; }
  .principal_aside .principal_aside__section .principal_aside__section-article span {
    display: block;
    width: 100%;
    font-size: 0.85rem;
    text-align: center; }
  .principal_aside .principal_aside__section .principal_aside__section-article .article_action_buy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px; }
    .principal_aside .principal_aside__section .principal_aside__section-article .article_action_buy span {
      font-family: 'Ubuntu', sans-serif;
      display: inline-block;
      width: auto;
      font-size: 1.125rem;
      font-weight: 700;
      color: #ed1d24 !important; }
    .principal_aside .principal_aside__section .principal_aside__section-article .article_action_buy button {
      background-color: #007bff;
      border: none;
      color: white;
      padding: 8px;
      cursor: pointer;
      border-radius: 0.25rem;
      font-size: .9rem; }
      .principal_aside .principal_aside__section .principal_aside__section-article .article_action_buy button:hover {
        background-color: #0069d9; }
      .principal_aside .principal_aside__section .principal_aside__section-article .article_action_buy button img {
        width: 20px; }

@media only screen and (min-width: 600px) {
  .header .header__icons-action input {
    display: inline-block; }
  .main .principal .principal__section {
    grid-template-columns: repeat(3, 1fr); }
    .main .principal .principal__section .principal__section-title {
      grid-column-start: 1;
      grid-column-end: 4; } }

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-areas: "header header" "nav nav" "aside  main" "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto; }
  .navbar .navbar__lista {
    flex-direction: row; }
    .navbar .navbar__lista li a {
      padding: 10px;
      text-align: center; }
  .header .header__icons-action .icon_menu {
    display: none; }
  .principal_aside {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 10px; }
    .principal_aside p {
      font-weight: bold;
      font-size: 1.01rem; }
    .principal_aside .principal_aside__section {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 20px;
      background: #fff;
      padding: 20px;
      gap: 10px; }
      .principal_aside .principal_aside__section .principal_aside__section-title {
        width: 100%;
        font-size: 1.1rem;
        font-weight: bold;
        color: crimson;
        width: 100%;
        margin-bottom: 10px;
        text-align: left; } }

@media only screen and (min-width: 992px) {
  .main .principal .principal__section {
    grid-template-columns: repeat(4, 1fr); }
    .main .principal .principal__section .principal__section-title {
      grid-column-start: 1;
      grid-column-end: 5; } }
